@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
.injection:hover{
  transform: rotate(45deg);
}
.nav-logo {
  height: 3rem;
}
.appointment-btn {
  background-color: #1a99dd;
  color: white !important;
  border-radius: 4em;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 10px !important;
  padding-bottom: 14px !important;
}
.btn-primary {
  background-color: transparent !important;
  border-color: #1a99dd !important;
  color: #1a99dd !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn-primary:hover {
  background-color: #1a99dd !important;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
  color: white !important;
}

a {
  text-decoration: none !important;
}

ul {
  margin: 0px;
  padding: 0px;
}

.counter {
  animation-duration: 1s;
  animation-delay: 0s;
}
.counter-main-text{
  font-family: 'Poppins', sans-serif;
  color: #333333;
  font-weight: 700;
  text-align: center !important;
  font-size: 38px;

}
.counter-sub-main-text{
  color: #5e5e5e;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  text-align: center !important;
  font-size: 18px;
}
.counter-icon{
  font-size:50px !important; 
  color: #1a99dd; 
  margin-bottom: 15px;
  transition: 1s;
}
.counter-icon:hover{
  transform: scale(0.9);
}

.doctor-name{
  font-family: Roboto,sans-serif;
    color: #2a2f41;
    font-size: 25px;
    line-height: 1.24em;
    font-weight: 500;
}
.doctor-passion{
  font-size: 15px;
    line-height: 1.47em;
    font-weight: 300;
    color: #5e647a;
}
.doctor-image{
  transition: 0.5s;
}
.doctor-image:hover{
  transform: scale(0.95);
}
.plus-icon{
  transition: 0.5s;
}
.plus-button:hover .plus-icon{
  transform: rotate(90deg);
}

.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #1a99dd;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;

  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #1a99dd;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #1a99dd;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #1a99dd;
  padding: 13px 20px;
  border: 1px solid #1a99dd;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #1a99dd;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #1a99dd;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
.owl-dots{
  display: none !important;
}
.review-image{
  box-shadow: inset 2px 2px 15px 60px #1a99dd;
}
.fa-chevron-left, .fa-chevron-right{
  color: #1a99dd !important;
  border: 2px solid #1a99dd;
  padding: 5px;
  border-radius: 5px;
}
.owl-theme .owl-nav [class*=owl-]:hover{
  background-color: #f8fbfe !important;
}
.owl-theme .owl-nav [class*=owl-]:hover .fa-chevron-left{
  color: white !important;
}
.owl-theme .owl-nav [class*=owl-]:hover .fa-chevron-right{
  color: white !important;
}
.bi-clock:hover, .bi-search:hover{
  cursor: pointer;
}
:focus::-webkit-input-placeholder {
  opacity: 0;
  transform: translate(70%);
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.book-card{
  transition: all .25s ease-in;
  
}
.book-card:hover{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-width: 0 !important;
  
}
@media only screen and (max-width:780px){
  #skelton{
    display: none;
  }
}
.mapster-tooltip{
  border: 0 !important;
  background-color: #1a99dd !important;
  color: white;
  border-radius: 12px !important;
  padding-left: 10px !important;
}
input[type='checkbox']{
  margin-right: 3px !important;
}

.health-icon{
  color: #1a99dd;
  transition: 0.8s;
}
.health-icon1:hover{
  transform: rotate(45deg);
}
.health-icon2:hover{
  transform: scale(1.2);
}
.health-icon3:hover{
  transform: rotate(-45deg);
}
.health-icon4:hover{
  transform: rotate(-45deg);
}
.health-icon5:hover{
  transform: scale(1.2);
}
.health-icon6:hover{
  transform: rotate(45deg);
}
.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float:left;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img {
  border: 5px solid #f8f8f8;
  display: block;
}
.swing:after{
  content: '';
  position: absolute;  
  width: 20px; height: 20px;  
  border: 1px solid #999;
  top: -10px; left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}
/* nail */
.swing:before{
  content: '';
  position: absolute;
  width: 5px; height: 5px;
  top: -14px;left: 54%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}

@keyframes swing {
  0% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}
.disease-letter{
  border: 1px solid black;
  padding: 10px;
  margin-right: 5px;
  line-height: 50px;
  display: inline;
}
.disease-letter:hover{
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}


.open-button {
  color: red;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  background-color: transparent;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9;
  height: 60%;
  width: 25%;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* border-radius: 13px; */
  border-top-left-radius: 10px;
  overflow: hidden;
}


/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}



.post-slide{
    background: #fff;
    margin: 20px 15px 20px;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
}
.post-slide .post-img{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: -12px 15px 8px 15px;
    margin-left: -5px;
}
.post-slide .post-img img{
    width: 100%;
    height: auto;
    transform: scale(1,1);
    transition:transform 0.2s linear;
}
.post-slide:hover .post-img img{
    transform: scale(1.1,1.1);
}
.post-slide .over-layer{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    background: linear-gradient(-45deg, rgba(6,190,244,0.75) 0%, rgba(45,112,253,0.6) 100%);
    transition:all 0.50s linear;
}
.post-slide:hover .over-layer{
    opacity:1;
    text-decoration:none;
}
.post-slide .over-layer i{
    position: relative;
    top:45%;
    text-align:center;
    display: block;
    color:#fff;
    font-size:25px;
}
.post-slide .post-content{
    background:#fff;
    padding: 2px 20px 40px;
    border-radius: 15px;
}
.post-slide .post-title a{
    font-size:15px;
    font-weight:bold;
    color:#333;
    display: inline-block;
    text-transform:uppercase;
    transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover{
    text-decoration: none;
    color:#3498db;
}
.post-slide .post-description{
    line-height:24px;
    color:#808080;
    margin-bottom:25px;
}
.post-slide .post-date{
    color:#a9a9a9;
    font-size: 14px;
}
.post-slide .post-date i{
    font-size:20px;
    margin-right:8px;
    color: #CFDACE;
}
.post-slide .read-more{
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: #2196F3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
}
.post-slide .read-more:hover{
    background: #3498db;
    text-decoration:none;
    color:#fff;
}
.owl-controls .owl-buttons{
    text-align:center;
    margin-top:20px;
}
.owl-controls .owl-buttons .owl-prev{
    background: #fff;
    position: absolute;
    top:-13%;
    left:15px;
    padding: 0 18px 0 15px;
    border-radius: 50px;
    box-shadow: 3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-next{
    background: #fff;
    position: absolute;
    top:-13%;
    right: 15px;
    padding: 0 15px 0 18px;
    border-radius: 50px;
    box-shadow: -3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after{
    content:"\f104";
    font-family: FontAwesome;
    color: #333;
    font-size:30px;
}
.owl-controls .owl-buttons .owl-next:after{
    content:"\f105";
}
@media only screen and (max-width:1280px) {
    .post-slide .post-content{
        padding: 0px 15px 25px 15px;
    }
}

.price-box ul li{
  padding-bottom: 16px;
  color:#124265 ;
  list-style: none;
}
.price-box ul .na{
  color: #ccc;
  text-decoration: line-through;
}
.price-box h4{
  font-size: 42px;
  color: #2487ce;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}
.price-box h4 span{
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}
.price-box h3{
  padding: 15px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  color: #124265;
}
.buy-button:hover{
   color: #fff !important;
  background-color:#2487ce;
  border-width: 2px;
  font-weight: bold;
}
.price-box-2 ul li{
  padding-bottom: 16px;
  color:#fff ;
  list-style: none;
}
.price-box-2 ul .na{
  color: #fff;
  text-decoration: line-through;
}
.price-box-2 h4{
  font-size: 42px;
  color: #fff;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}
.price-box-2 h4 span{
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
.price-box-2 h3{
  padding: 15px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
.buy-button-2:hover{
  color: #fff !important;
 background-color:#2487ce;
 border-width: 2px;
 font-weight: bold;
}

.line{
  width: 70px;
    height: 4px;
    background-color: #1a99dd;
    margin: 0 auto;
}
.my-logo-image{
  height:50%;
  width: 50%;
  transition: 500ms;
  filter: grayscale(100);
}
.my-logo-image:hover{
  filter: none;
  transform: scale(1.1);
}

.typewriter p {
  overflow: hidden;
  border-right: 0.15em solid #e94560; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #cac7c7;
  }
}