@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans JP", sans-serif;
}
.nav-logo {
  height: 3rem;
}
.appointment-btn {
  background-color: #1a99dd;
  color: white !important;
  border-radius: 4em;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 10px !important;
  padding-bottom: 14px !important;
}
.btn-primary {
  background-color: transparent !important;
  border-color: #1a99dd !important;
  color: #1a99dd !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn-primary:hover {
  background-color: #1a99dd !important;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
  color: white !important;
}

a {
  text-decoration: none !important;
}

ul {
  margin: 0px;
  padding: 0px;
}

.counter {
  animation-duration: 1s;
  animation-delay: 0s;
}
.counter-main-text{
  font-family: 'Poppins', sans-serif;
  color: #333333;
  font-weight: 700;
  text-align: center !important;
  font-size: 38px;

}
.counter-sub-main-text{
  color: #5e5e5e;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  text-align: center !important;
  font-size: 18px;
}
.counter-icon{
  font-size:50px !important; 
  color: #1a99dd; 
  margin-bottom: 15px;
  transition: 1s;
}
.counter-icon:hover{
  transform: scale(0.9);
}

.doctor-name{
  font-family: Roboto,sans-serif;
    color: #2a2f41;
    font-size: 25px;
    line-height: 1.24em;
    font-weight: 500;
}
.doctor-passion{
  font-size: 15px;
    line-height: 1.47em;
    font-weight: 300;
    color: #5e647a;
}
.doctor-image{
  transition: 0.5s;
}
.doctor-image:hover{
  transform: scale(0.95);
}
.plus-icon{
  transition: 0.5s;
}
.plus-button:hover .plus-icon{
  transform: rotate(90deg);
}

.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #1a99dd;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;

  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #1a99dd;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #1a99dd;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #1a99dd;
  padding: 13px 20px;
  border: 1px solid #1a99dd;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #1a99dd;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #1a99dd;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
